*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
/* :focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
} */
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #999;
  font-weight: 500;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
}
/* input::-ms-clear {
  display: none;
} */
button {
  cursor: pointer;
}
/* button::-moz-focus-inner {
  padding: 0;
  border: 0;
} */
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1046px;
  margin: 0px auto;
  padding: 0px 15px;
}

.main {
}
.main__title {
  margin-top: 20px;
  font-size: 32px;
}
.button {
  color: #42b983;
  border-radius: 20px;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
  cursor: pointer;
}
.main__button {
  position: relative;
  padding: 0.5rem 1.5rem;
  margin: 1rem 1rem 1rem 0;
}
.button_primary {
  background: #42b983;
  color: #fff;
}
.button:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.form__button {
  background-color: #bd59d4;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  border-radius: 25px;

  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  /* font-weight: 600; */
  -webkit-box-shadow: 0 10px 30px 0 rgb(189 89 212 / 50%);
}
.main__input {
  display: none;
}
.form__wrapper {
}
.form__title {
  font-size: 20px;
  text-align: center;
}
.form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 10%);
}
input,
textarea {
  width: auto;
  box-sizing: border-box;
  min-width: 150px;
}
label {
  position: relative;
  margin-right: 15px;
}
p {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.label__input {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
  font-weight: 500;
}

/*---------------------------------------------------*/

/*--------------------------------------------------------*/
/* Option */

.option {
  display: block;
  margin-bottom: 0.5em;
}

/* Check */

.check {
  padding-left: 1.2em;
}

.check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.check__box {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -1em;
  width: 0.6em;
  height: 0.6em;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #c87ef0;
}

/* Checked */

.check__input:checked + .check__box {
  background-color: #c87ef0;
  background-image: url(/images/check.svg);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em #c87ef0, 0 0 0 0.2em #76c3f5;
}

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check__input:checked:disabled + .check__box {
  background-color: #9b9b9b;
}

.form__link {
  line-height: 1.4;
  font-weight: 400;
  color: #666;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
  pointer-events: none;
}
